<!DOCTYPE html>
<html>

<head>

    <title>Country Search</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css"> 
    <link rel="stylesheet" href="/style.css">

</head>

<body>

    <div class="main_div">
        <h1 class="w3-2021-green-ash w3-center extra_title">Workhuman Search</h1>

        <input class="w3-input w3-border w3-padding w3-round-medium" type="text" placeholder="Search..." id="main_input" onkeyup="lookupFxn()">

        <table class="w3-bordered w3-table w3-centered w3-hoverable">
            <thead>
                <tr class="table_title">
                    <th>Country Name</th>
                </tr>
            </thead>
            <tbody id="main_table">
                <!-- ejs code which iterates through the table -->
                <% for (var i = 0; i < results.length; i++) { %>
                <tr class="table-row">
                    <td class="w3-wide"><b><%= results[i].country_name %></b></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>


    <script src="/script.js"></script>

</body>

</html>
