body {
    background-image: url('https://pngimg.com/d/world_map_PNG34.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main_div {
    margin: auto;
    max-width: 900px;
    text-align: center;
}

table {
    background-color: rgba(255, 255, 255, 0.6); 
}

.table_title{
  background-color: rgba(44, 43, 43, 0.9); 
  color: white;
}
table.w3-table tr{
    border: 2px solid rgb(184, 184, 184); 
}

.extra_title {
    font-size: 40px;
    color: #2c582d; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
    margin: 20px 0;
    border-radius: 15px;
    padding: 20px;
}
